<p id="notice"><%= notice %></p>

<% @trip_plans.each do |trip_plan| %>
  <a href='<%= trip_plan_path(trip_plan) %>'>

    <div class='trip-plan-index-item'
         style='background-image: URL(http://res.cloudinary.com/dwhvrflyu/<%= trip_plan.image_url %>);
                background-size: cover'>

        <span class='trip-title'><%=trip_plan.title%></span>
    </div>
 </a>

<% end %>
<br>
